<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="center">
            <center>
              <h1>Password reset requested</h1>

              <p>Someone requested a password reset the Vurse account at this email address. If this was you, please use the link below to reset your password.</p>

              <table class="button radius success">
                <tr>
                  <td>
                    <%= link_to 'Reset password', edit_user_password_url(@resource, reset_password_token: @token) %>
                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
