.page-header {
  display: table;
  width: 100%;

  h1 {
    @extend h2;
    display: table-cell;
    vertical-align: middle;
  }

  .actions {
    display: table-cell;
    float: right;
    margin-bottom: 0;
    vertical-align: middle;

    li {
      display: inline-block;
      list-style-type: none;
    }
  }
}
