<%- content_for :stylesheets do %><%= stylesheet_link_tag 'vurse-authentication', media: 'all' %><% end -%>
<%- content_for :content do %>
<main class="main authentication" role="main">
  <%= yield %>
</main>
<% end -%>
<%= render template: 'layouts/application' %>
